$background-color: #f0f0f0;
$text-color: #333;
$hover-color: #8AF0B3;

.container-movimentacoes {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;

    h2 {
        font-size: 20px;
        color: $text-color;
        margin-bottom: 15px;
        font-weight: bold;
    }

    // Lista de movimentações
    .movimentacoes-list {
        display: flex;
        flex-direction: column;
        max-width: 98%;
        margin: 0;
    }

    // Cartões de movimentação
    .movimentacao-card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 12px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: 1px solid #ddd;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }

        h3 {
            font-size: 18px;
            color: $text-color;
            margin: 0;
        }

        p {
            font-size: 14px;
            color: $text-color;
            margin: 0;

            &.funcionario {
                font-style: italic;
                color: #555; // Cor mais suave para o nome do funcionário
            }

            &.data {
                text-align: right;
                color: #777;
                font-size: 12px;
            }
        }
    }

}