$background-color: #f0f0f0;
$text-color: #333;
$text: white;
$title-text-color: #8AF0B3;
$hover-color: #8AF0B3;
$footer-bg-color: #222;
$footer-text-color: #fff;

// Reset básico
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: $background-color;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// Header
.header {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ddd;

    .header-logo {
        display: flex;
        align-items: center;
        padding-left: 10px;

        .logo {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        h1 {
            font-size: 18px;
            color: $text-color;
            margin: 0px;
        }
    }

    .header-nav {
        display: flex;
        gap: 20px;
        padding-right: 20px;

        .nav-link {
            text-decoration: none;
            font-size: 16px;
            color: $text-color;
            transition: transform .2s ease;

            &:hover {
                color: $hover-color;
                transform: scale(1.1);
            }
        }
    }
}

// Main content
.home-main-content {
    flex-grow: 1;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .home-intro,
    .home-features,
    .home-benefits {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,126,39,1) 90%, rgb(12, 218, 91) 130%);
        backdrop-filter: blur(8.9px);
        -webkit-backdrop-filter: blur(8.9px);
        transition: border-color 1s;

        &:hover {
            border: 0.5px outset white;
            border-radius: 5px;
            outline: none;
        }
    }

    h2 {
        margin: 0px;
        padding-bottom: 15px;
        padding-top: 40px;
        font-size: 24px;
        color: $title-text-color;
    }

    h3 {
        margin: 0px;
        padding-bottom: 15px;
        padding-top: 40px;
        font-size: 20px;
        color: $title-text-color;
    }

    p {
        font-size: 16px;
        padding-bottom: 40px;
        color: $text;
        margin: 0px;
    }

    ul {
        margin: 0px;
        list-style-type: none;
        padding-left: 0;
        padding-bottom: 40px;

        li {
            font-size: 16px;
            color: $text;
        }
    }
}

// Footer
.footer {
    background-color: $footer-bg-color;
    color: $footer-text-color;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 14px;
}